/homework2/Assignment2/prt/build
/homework2/Assignment2/prt/scenes
/homework2/Assignment2/homework2/assets/cubemap/CornellBox/light.txt
/homework2/Assignment2/homework2/assets/cubemap/CornellBox/transport.txt
/homework2/Assignment2/homework2/assets/cubemap/Indoor/light.txt
/homework2/Assignment2/homework2/assets/cubemap/Indoor/transport.txt
/homework2/Assignment2/homework2/assets/cubemap/Skybox/light.txt
/homework2/Assignment2/homework2/assets/cubemap/Skybox/transport.txt
/homework2/Assignment2/prt/scenes/cubemap/CornellBox/light.txt
/homework2/Assignment2/prt/scenes/cubemap/CornellBox/transport.txt
/homework2/Assignment2/prt/scenes/cubemap/GraceCathedral/light.txt
/homework2/Assignment2/prt/scenes/cubemap/GraceCathedral/transport.txt
/homework2/Assignment2/prt/scenes/cubemap/Indoor/light.txt
/homework2/Assignment2/prt/scenes/cubemap/Indoor/transport.txt
/homework2/Assignment2/prt/scenes/cubemap/Skybox/light.txt
/homework2/Assignment2/prt/scenes/cubemap/Skybox/transport.txt
/homework2/Assignment2/prt/scenes/prt.exr
/homework2/Assignment2/prt/scenes/prt.png
